<app-iphone></app-iphone>

<h2><b>Customize Your App</b></h2>


<div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div  cdkDrag class="button-primary" class="example-box" *ngFor="let item of todo">
         <div class="example-custom-placeholder" *cdkDragPlaceholder>
   </div>
         {{item}}
         <div>
  

          <button data-toggle="collapse" data-target="#demo">Collapsible</button>

<div id="demo" class="collapse">
Lorem ipsum dolor text....
</div>
                
                </div>
         </div>

</div>

</div>

































































